<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="landing_page.css">
  <script type="module" src="landing_page.js"></script>
  <title>Stickier Notes</title>
</head>
  <body>
    <header class="header">
      <a class="logo-link" href="">
        <div class="logo">
          <img class="logo-sticky-note" src="{% static 'accounts/images/icons8-sticky-note-100.svg' %}" alt="">
          <span class="logo-s">S</span>
          <span class="logo-sticky">ticky Lists</span>
        </div>
      </a>
    </header>
    <!-- <video  width="700" height="auto" autoplay loop muted src="{% static 'accounts/images/video.mp4' %}" type="video/mp4"></video> -->
    <main>
      <section class="hero">
        <div class="hero-content">
          <div class="sticky-display">
            <li class="sticky-note note-1">
              <p class="note-heading">Data Structures and Algorithms</p>
              <ul class="note-content">
                <li>
                  <span class="task"><strike>Learn Big-O</strike></span>
                </li>
                <li>
                  <span class="task"><strike>Practice Big-O Notation</strike></span>
                </li>
                <li>
                  <span class="task"><strike>Try LeetCode</strike></span>
                </li>
                <li>
                  <span class="task">Cry</span>
                </li>
              </ul>
            </li>
            <li class="sticky-note note-2">
              <p class="note-heading">Project Stretch-Goals</p>
              <ul class="note-content">
                <li>
                  <span class="task"><strike>Plan Website</strike></span>
                </li>
                <li>
                  <span class="task"><strike>Make a homepage</strike></span>
                </li>
                <li>
                  <span class="task">Do Django Stuff Work</span>
                </li>
              </ul>
            </li>
            <li class="sticky-note note-3">
              <p class="note-heading">CSS Stuff</p>
              <ul class="note-content">
                <li>
                  <span class="task">Figure out how to shrink font size when the sentences start getting too long.</span>
              </ul>
            </li>
            <li class="sticky-note note-4">
              <p class="note-heading">Billion Dollar Ideas</p>
              <ul class="note-content">
                <li>
                  <span class="task"></span>
                </li>
            </li>
          </div>

          <div class="hero-text">
            <p class="headline">Sticky notes just got stickier</p>
            <p class="text">A ground-breaking, innovative, task management tool.</p>
          </div>

        </div>
      </section>
    </main>

  </body>
</html>
