@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Klee+One:wght@400;600&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.html {
  /* 10px =  10/16px -> .625 = 62.5% */
  font-size: 62.5%;
}

.landing-pg {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-heading {
  color: blue;
  grid-column: 1/-1;
}

.hero {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d7e3fc 10%, #edf2fb 100%);

  /* background-color: #edf2fb; */
  height: 100vh;
  width: 100vw;
  padding-top: 6rem;
}

.hero-content {
  display: flex;
  justify-content: center;
  gap: 18rem;
}

.headline {
  font-family: "Noto Sans JP";
  font-size: 3rem;
  font-weight: 300;
}

.text {
  font-family: "Noto Sans JP";
  font-size: 1rem;
  padding-top: 1rem;
}

.header {
  display: flex;
  background-color: #edf2fb;
  position: relative;
  padding: 0 5rem;
  height: 9rem;
  align-items: center;
}

.logo-link {
  color: black;
}
.logo-link:hover {
  color: black;
}

.logo-sticky-note {
  transform: rotate(-4deg);
  height: 4rem;
}

.logo-s {
  font-family: Handlee;
  position: absolute;
  left: 6.3rem;
  font-size: 2.5rem;
  top: 2.75rem;
  transform: rotate(-4deg);
}

.logo-sticky {
  font-family: Handlee;
  left: 9rem;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  top: 3.5rem;
  letter-spacing: 0.2rem;
}

.sticky-display {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 15rem 15rem;
  height: 35rem;
  width: 35rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  row-gap: 5rem;
  column-gap: 5rem;
}

.sticky-note {
  padding: 0.5rem;
  display: inline-block;
  list-style: none;
  height: 15rem;
  width: 15rem;
  background-color: bisque;
  box-shadow: 0.3rem 2rem 1.5rem rgba(0, 0, 0, 0.3);
  font-family: "Klee One";
}

.note-heading {
  font-size: 1.6rem;
  font-weight: bolder;
  padding-bottom: 0.2rem;
}

.note-content {
  padding-left: 1rem;
  /* list-style: none; */
  font-size: 1rem;
}

li .task {
  position: relative;
  left: -5px;
}

.note-1 {
  background-color: #feff9c;
  transform: rotate(2deg) translateY(2px);
}

.note-2 {
  background-color: #fca1ca;
  transform: rotate(-1deg) translate(2px, -2px);
}

.note-3 {
  background-color: #faa936;
  transform: rotate(-2deg) translate(-1px, -2.5px);
}

.note-4 {
  background-color: #78e853;
  transform: rotate(2deg) translate(1.5px, 3.5px);
}
